@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  border-top: 10px solid #e97961;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.container {
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.pantriful-orange {
  color: #e97961;
}

.button {
  background-color: #e97961;
  max-width: 20%;
  padding: 10px 35px;
  margin: 35px auto 0;
  color: white;
  font-size: 1.5em;
  border-radius: 5px;
}

.error-message {
  text-align: left;
  color: red;
}

input {
  line-height: 0;
}

/*----NAVIGATION----*/

.flexnav {
  padding: 35px 0 40px;
  display: flex;
  flex-direction: columns;
  min-height: 5em;
  align-items: center;
}

.logo {
  margin-right: auto;
  margin-left: 30px;
  padding: 0;
}

.flexnav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #e97961;
  font-size: 1.5em;
}

.navbar-login-link {
  padding-left: 0;
}

.nav-signup-button a {
  color: white;
  border-radius: 5px;
  padding: 10px 35px;
  background-color: #e97961;
}

@media screen and (max-width: 600px) {
  .flexnav {
    padding: 15px 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #e97961;
    color: #e97961;
    font-size: 1.2em;
  }

  .logo {
    margin: 10px 0 20px 0;
  }

  nav ul li {
    margin: 0 1em 0.5em 1em;
  }
}

/*----HERO----*/

.hero {
  min-height: 75vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-title {
  color: #e97961;
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-inner {
  width: 65%;
  margin: 0px;
}

.hero-desc {
  line-height: 44px;
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
}

.hero-btn {
  max-width: 30%;
  min-width: 250px;
}

.hero-btn a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 900px) {
  .hero {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .hero-title {
    color: #e97961;
    font-size: 2.6em;
  }

  .hero-inner {
    width: 76%;
    margin: 0px;
  }

  .hero-desc {
    line-height: 44px;
    width: 70%;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .hero-btn {
    max-width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .hero-title {
    color: #e97961;
    font-size: 2em;
  }
  .hero-inner {
    width: 80%;
    margin: 0px;
  }
  .hero-desc {
    line-height: 44px;
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .hero-btn {
    font-size: 1.3rem;
    max-width: 40%;
  }
}

@media screen and (max-width: 450px) {
  .hero {
    min-height: 50vh;
  }
  .hero-inner {
    width: 100%;
    margin: 0px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 376px) {
  .hero {
    min-height: 80vh;
  }
}

@media screen and (max-width: 350px) {
  .hero {
    min-height: 100vh;
  }
}

/*
@media screen and (max-width: 1500px) and (max-height: 1400px) {
    .hero {
        min-height: 50vh;
    }
}
*/

/*----HOW IT WORKS SECTION----*/

.how {
  margin-top: 105px;
}

.how h1 {
  font-size: 3.125rem;
}

.how-desc {
  max-width: 655px;
  margin: auto;
  font-size: 25px;
  line-height: 44px;
  margin-bottom: 100px;
}

.how-title {
  font-size: 2.1rem;
}

/*Create circle around number*/

.number {
  display: inline-block;
  background-color: #e97961;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
}
.number:before,
.number:after {
  content: "\200B";
  display: inline-block;
  line-height: 0px;
  padding-top: 50%;
  padding-bottom: 50%;
}
.number:before,
.number:after {
  padding-left: 10px;
}

.how-item-desc {
  max-width: 377px;
  font-size: 1.5rem;
  line-height: 44px;
  position: relative;
  left: 55px;
  text-align: left;
}

.how-row {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.how-row div {
  margin: 0 25px;
}

.how-2 {
  flex-direction: row-reverse;
}

.how-4 {
  flex-direction: row-reverse;
}

.how-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-img {
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .how h1 {
    font-size: 2.5rem;
  }
  .how-desc {
    max-width: 655px;
    margin: auto;
    font-size: 1.4em;
    line-height: 44px;
    margin-bottom: 100px;
  }
  .how-title {
    font-size: 1.5rem;
  }
  .number {
    font-size: 1.5rem;
  }
  .how-item-desc {
    max-width: 377px;
    font-size: 1.2rem;
    line-height: 35px;
    position: relative;
    left: 55px;
    text-align: center;
  }
  .how-item-desc {
    max-width: 377px;
    font-size: 1.5rem;
    line-height: 44px;
    position: inherit;
  }
}

@media screen and (max-width: 950px) {
  .how-row {
    display: block;
  }
  .how-title {
    font-size: 2rem;
  }
  .number {
    font-size: 2rem;
  }
  .how-item-desc {
    max-width: 90%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 44px;
    position: inherit;
    text-align: center;
  }
  .how-img {
    margin-top: 50px;
    min-width: 300px;
    max-width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .how-title {
    font-size: 1.5rem;
    text-align: center;
  }
  .how-row div {
    margin: 0;
  }
}

/*----FEATURES----*/

.features-container {
  background-color: #f9f9f9;
  padding: 100px 0 100px 0;
}

.features h1 {
  font-size: 3.125rem;
}

.features-desc {
  max-width: 655px;
  margin: auto;
  font-size: 1.5rem;
  line-height: 44px;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /*  list-style: none;*/
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 10px;
}
@media (min-width: 50rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--goal {
  background-image: url("/images/goal-tracking.png");
}
.card__image--diet {
  background-image: url("/images/diet-analysis.png");
}
.card__image--cooking {
  background-image: url("/images/improve-cooking.png");
}

.card__title {
  color: #696969;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/*ABOUT*/

.about-inner {
  display: flex;
}

.about {
  padding: 100px 0;
}

.about-inner img {
  width: 400px;
  margin-bottom: 50px;
}

.about-text {
  margin-left: 40px;
}

.about-text h2 {
  margin: 0px;
  font-size: 50px;
  text-align: left;
}

.about-text p {
  font-size: 1.5rem;
  line-height: 44px;
  text-align: left;
}

#founder {
  text-align: right;
}

.about-button {
  display: block;
  text-decoration: none;
  margin-top: 50px;
  min-width: 250px;
}

@media screen and (max-width: 1160px) {
  .about-inner {
    display: block;
  }
  .about-inner img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 50px;
  }
  .about-text h2 {
    font-size: 2.5rem;
  }
  .about-text p {
    font-size: 1.3rem;
  }
  .about-text {
    margin-left: 0px;
  }
}

@media screen and (max-width: 500px) {
  .about-text h2 {
    text-align: center;
  }
  .about-text p {
    text-align: center;
  }
  #founder {
    text-align: center;
  }
}

.underline {
  text-decoration: underline;
}

/*INFO*/

.info {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 75px 3rem;
  display: flex;
  justify-content: space-between;
}

.info h3 {
  color: #4a4a4a;
  letter-spacing: 3px;
}

.info p a {
  text-decoration: none;
  color: #9d9d9d;
}

.info p {
  color: #9d9d9d;
}

.info-img img {
  width: 187px;
}

.info-menu {
  width: 30%;
  text-align: left;
  margin: auto;
}

.info-contact {
  text-align: left;
}

@media screen and (max-width: 900px) {
  .info {
    padding: 25px 3rem;
  }
  .info-menu {
    text-align: center;
  }
  .info-contact {
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .info {
    display: block;
  }
}

/*FOOTER*/

footer p {
  padding: 20px;
}

/*REGISTER*/

.register {
  display: flex;
}

.login {
  justify-content: center;
  align-items: center;
}

.reg-form h1 {
  text-align: left;
  font-size: 2.4rem;
  font-family: "Open Sans";
  margin: 0;
  color: #626262;
}

.reg-form p {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 10px;
}

.reg-form input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 25px;
  outline: none;
}

.reg-submit {
  width: 100%;
  padding: 15px 20px;
  outline: none;
  border: none;
  background-color: #e97961;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top: 25px;
}

#member-login {
  font-size: 1.2rem;
  text-align: center;
}

#member-login a {
  text-decoration: none;
  color: #626262;
  font-weight: 400;
}

.register-img {
  width: 100%;
  max-width: 474px;
  max-height: 590px;
  height: 100%;
}

@media screen and (max-width: 1015px) {
  .register img {
    display: none;
  }
  .register {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .reg-form h1 {
    text-align: center;
    font-size: 2rem;
  }
  .reg-form p {
    text-align: center;
    font-size: 1.2rem;
  }
  .register {
    width: 100%;
  }
  .reg-form input {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 18px;
    outline: none;
  }
  .register {
    margin-bottom: 500px;
  }
}

.dashboard {
  height: 70vh;
}

.dashboard p {
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  line-height: 44px;
}

.dashboard-welcome-title {
  font-size: 40px;
  line-height: 44px;
}

.dashboard-welcome-description {
  width: 60%;
  font-size: 20px;
  margin: auto;
  line-height: 44px;
}

@media screen and (max-width: 600px) {
  .dashboard-welcome-title {
    font-size: 30px;
  }
  
  .dashboard-welcome-description {
    width: 95%;
    font-size: 20px;
    margin: auto;
    line-height: 44px
  }
}

.dashboard-img {
  width: 100%;
  max-width: 1170px;
}

@media screen and (max-width: 700px) {
  .dashboard-container {
    height: 73vh;
  }

  .dashboard-container h1 {
    font-size: 25px;
  }
  .dashboard-img {
    display: none;
  }
}