/* UTILITIES */

.on-boarding-container h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 44px;
}

.on-boarding-container p {
  font-size: 18px;
  width: 450px;
  line-height: 33px;
  margin: auto;
  color: #838383;
}

.form-text-container {
  box-sizing: border-box;
  margin-top: 10px;
}

.form-text-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CCC;
  color: #555;
  box-sizing: border-box;
  font-size: 18px;
  height: 50px;
  margin: 10px auto;
  padding: 10px 0px;
  position: relative;
  top: 50%;
  width: 400px;
  outline: none;
}

.form-text-underline:focus {
  outline: none;    
}

.form-text-input::-webkit-input-placeholder {
  color: #AAA;
}

.form-text-input:focus::-webkit-input-placeholder {
  color: #EE9986;
}

.form-text-input:focus+.form-text-underline {
  transform: scale(1);
}

.form-text-underline {
  background-color: #EE9986;
  display: block;
  margin: auto;
  margin-top: -11px;
  height: 2px;
  -webkit-transform: scale(0, 1);
  position: relative;
  transform: scale(0, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 400px;
}

/* Welcome Screen */
.welcome {
  margin: 100px auto 400px;
}

.welcome h2 {
  font-size: 40px;
}

.welcome p {
  width: 550px;
  margin: 25px auto 55px;
  font-size: 18px;
  line-height: 33px;
}

.about-button {
  margin: auto;
  padding: 15px 150px;
  border-radius: 23px;
  border: none;
  background-color: #EE9986;
  color: white;
  font-size: 14px;
  text-decoration: none;
  outline: none;
}


/* NEW STYLES */
.on-boarding-container {
  margin-top: 125px;
}

.on-boarding-nav {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 100%;
  margin: auto;
  text-align: center;
  height: 80px;
  border-bottom: 1px solid transparent;
}

.on-boarding-nav button {
  background: none;
  border: none;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.on-boarding-nav p {
  display: grid;
}

.on-boarding-nav img {
  max-width: 150px;
}

.main-button {
  letter-spacing: 1px;
  margin: 75px auto 0;
  text-align: center;
  padding: 15px 150px;
  border-radius: 23px;
  border: none;
  background-color: #EE9986;
  color: white;
  font-size: 14px;
  outline: none;
}

.onward-button {
  font-weight: bold;
  background-color: #ACE270;
  outline: none;
}

/* FOOTER */

.on-boarding-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 150px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+5,ffffff+32,ffffff+100&0+0,0.87+53 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 5%, rgba(255, 255, 255, 0.52) 32%, rgba(255, 255, 255, 0.87) 53%, rgba(255, 255, 255, 0.87) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 5%, rgba(255, 255, 255, 0.52) 32%, rgba(255, 255, 255, 0.87) 53%, rgba(255, 255, 255, 0.87) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 5%, rgba(255, 255, 255, 0.52) 32%, rgba(255, 255, 255, 0.87) 53%, rgba(255, 255, 255, 0.87) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#deffffff', GradientType=0);
  /* IE6-9 */
}

.on-boarding-footer button {
  margin: auto;
  margin-top: 60px;
  padding: 15px 150px;
  border-radius: 23px;
  border: none;
  background-color: #EE9986;
  color: white;
  font-size: 14px;
  outline: none;
}

/* CHECKBOX GRID */

/* .checkbox-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 5px;
  place-items: stretch;
  max-width: 580px;
  margin: 30px auto;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  color: #445870;
  margin-bottom: 150px;
}

.checkbox-grid li {
  list-style: none;
}

.checkbox-grid li input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-grid li label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
    padding-left: 20px;
  text-align: center;
  height: 55px;
  background: #FBFBFC;
  font-size: .95em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 305ms ease-in-out;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}
*/

/* .checkbox-click li label:hover {
  background: #FCEDEA;
  color: #5E5E5E;
  transition: all 305ms ease-in-out;
}  */

/* .grid li input[type=checkbox]:checked ~ label */
.green-checkbox-click div input[type=checkbox]:checked~label {
  border: solid 2px #68d391;
  color: #48bb78;
  transition: all 100ms ease-in-out;
}

.red-checkbox-click div input[type=checkbox]:checked~label {
  border: solid 2px #fc8181;
  color: #fc8181;
  transition: all 100ms ease-in-out;
}

.radio-click div input[type=radio]:checked~label {
  border: solid 2px #68d391;
  color: #48bb78;
  transition: all 100ms ease-in-out;
}
/* STEP ONE */
/* .stepOne img{
  width: 300px;
}

.stepOne h2 {
  margin-top: 10px;
  font-size: 25px;
}

.stepOne p {
  padding: 0px 0 50px;
  width: 500px;
  margin: auto;
  line-height: 33px;
} */

/* Shopping Cart */

.stepOneShoppingCart {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  /* margin-top: 250px; */
}

.stepOneShoppingCart img {
  width: 700px;
}

.stepOneShoppingCart h2 {
  margin-top: 10px;
  font-size: 25px;
}

.stepOneShoppingCart p {
  padding: 0px 0 50px;
  width: 500px;
  margin: auto;
  line-height: 33px;
}

/* --------------------------- */
/* General Styles */
/* --------------------------- */

/* Container */
.shoppingListWrapper {
  width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 25px;
}

/* ----------------------- */
/* Shopping-cart on-boarding */
/* ----------------------- */

.pantry__tab {
  margin-bottom: 2px;
  /* position: relative; */
  /* width: 100%; */
  /* color: black; */
  /* overflow: hidden; */
}

.pantry__tab>input {
  display: none;
  /* position: absolute; */
  /* opacity: 0; */
  /* z-index: -1; */
}

.pantry__tab>label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #EE9986;
  line-height: 2.5;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.pantry__tabFunctions {
  max-height: 0;
  overflow: hidden;
  /* background: white; */
  -webkit-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  -webkit-transition: padding .1s;
  -o-transition: padding .1s;
  transition: padding .1s;
}

/* Show tab when checked */
.pantry__tab input:checked~.pantry__tabFunctions {
  max-height: 100%;
  padding: 25px 0;
  -webkit-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s;
  -webkit-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
}

/* Cross and X icon */
.pantry__tab label::after {
  position: absolute;
  right: 0;
  top: -19px;
  /* display: block; */
  width: 1.5em;
  /* height: 3em; */
  font-size: 30px;
  /* line-height: 2.5; */
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.pantry__tab>input[type=radio]+label::after {
  content: "\002b";
}

.pantry__tab>input[type=radio]:checked+label::after {
  position: absolute;
  /* top: -20px; */
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}

/* --------------------------- */
/* Checkbox styles */
/* --------------------------- */

/* .pantry__checkboxContainer {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 25px;
} */

/* .pantry__checkboxContainer input[type="checkbox"] {
  display: none;
} */

.pantry__checkboxContainer input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding-left: 40px;
  text-align: left;
  cursor: pointer;
  letter-spacing: .5px;
  line-height: 1.2;
}

.pantry__checkboxContainer input[type="checkbox"]+label:before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #EE9986;
  position: absolute;
  left: 8px;
  top: 0px;
  -webkit-transition: all .1s, border-color .1s;
  transition: all .1s, border-color .1s;
}

.pantry__checkboxContainer input[type="checkbox"]:checked+label:before {
  width: 8px;
  top: -5px;
  left: 13px;
  border-radius: 2px;
  border: 2px solid #68d391;
  opacity: 2;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 640px) {
  .pantry__checkboxContainer input[type="checkbox"]+label:before {
      width: 24px;
      height: 24px;
      border: 3px solid #EE9986;
      left: 8px;
      top: -3px;
  }

  .pantry__checkboxContainer input[type="checkbox"]:checked+label:before {
    width: 12px;
    border-radius: 2px;
    border: 3px solid #68d391;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

/* --------------------------- */
/* SHOPPING LIST */
/* --------------------------- */

/* .shoppingList__headers {
  display: grid;
  grid-template-columns: 2fr 6fr 3fr;
  padding: 0 10px;
  font-size: 10px;
}

.shoppingList__item {
  box-shadow: 0px 15px 35px rgba(50, 50, 50, 0.0905514), 0px 5px 15px rgba(84, 84, 89, 0.106346);
  margin: 5px 0;
  background-color: white;
  border-radius: 5px;
}

.shoppingList__item__quantityInput {
  width: 70px;
  padding: 15px;
  margin-right: 15px;
  background-color: #EE9986;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
}

.shoppingList__item__quantityInput::placeholder {
  color: white;
}

.shoppingList__item__notesOpen {
  display: none;
}

.shoppingList__item__notesOpen:not(checked)~.shoppingList__item__notesContainer {
  height: 0;
  opacity: 0;
  transition: all .1s;
}

.shoppingList__item__notesOpen:checked~.shoppingList__item__notesContainer {
  height: auto;
  opacity: 1;
  pointer-events: auto;
  transition: all .5s ease-out;
} */

/* NEW NOTES TOGGLE */

/* .notes-container {
  display: none;
}

.notesCheckbox:checked + .notes-container{
  display: block;
}

.shoppingList__item__notesOpen:not(checked)~.shoppingList__item__notesContainer {
  height: 0;
  opacity: 0;
  transition: all .1s;
}

.shoppingList__item__notesOpen:checked~.shoppingList__item__notesContainer {
  height: auto;
  opacity: 1;
  pointer-events: auto;
  transition: all .5s ease-out;
}

.shoppingList__item__labels {
  display: inline;
  margin-top: 18px; */
  /* text-align: right; */
  /* outline-style:none; */
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.shoppingList__item__price {
  float: right;
  margin-right: 15px;
}

.shoppingList__item__price::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #E97961;
  transition: transform .5s;
  transform-origin: 30% 40%;
}

.shoppingList__item__notesOpen:checked~.shoppingList__item__price::after {
  transform: rotate(90deg);
  transform-origin: 30% 40%;
  transition: transform .5s;
} */

/* Remove Number Spinner on number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 
.shoppingList__item__notesContainer {
  pointer-events: none;
}

.shoppingList__item__notesContainer__notesInput {
  width: 92.5%;
  border: none;
  font-size: 13px;
  padding: 15px 20px;
  outline: none;
  border-top: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
} */

/* NEW Shopping cart title  */
.pantry-container {
  position: relative;
}

.pantry-categories input[type="radio"]:checked ~ * {
  background-color: #68d391;
  color: white;
}

/* .styles_modal__gNwvD {
  border-radius: 10px;
  min-height: 50vh;
  padding: 1.5rem 10px;
} */

.shopping-cart-button {
  right: 20px;
  top: -45px;
}

.shopping-cart-button-quantity {
  right: 30px;
  top: -50px;
}